Source: ros-indigo-pr2-pan-tilt
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-pr2-controllers-msgs, ros-indigo-rospy, ros-indigo-tf, ros-indigo-topic-tools
Homepage: http://ros.org/wiki/pr2_pan_tilt
Standards-Version: 3.9.2

Package: ros-indigo-pr2-pan-tilt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-geometry-msgs, ros-indigo-pr2-controllers-msgs, ros-indigo-rospy, ros-indigo-tf, ros-indigo-topic-tools
Description: Pan Tilt app for the PR2 with android
